body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
}

.container svg {
    width: 150px;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    cursor: pointer;
    stroke: white;
}
